<!-- templates/products/products.html -->
{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{ category.name }} - Coffee E-commerce{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ category.name }}</h1>
    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <p>${{ product.price }}</p>
                <form method="post" action="{% url 'cart:add' product.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="view-button">Add to cart</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
